<div class="container mt-5">
  <img src="../../assets/images/banner1.png" alt="Banner1">
  <h2 class="text-center mt-5 mb-5 fw-bold">Ответы на часто задаваемые вопросы</h2>
  <div id="accordion" class="col-lg-8 mt-0 mb-0 me-auto ms-auto">
    <h3 class="accordion-title p-4 border-0 rounded bg-primary text-white">Собираете ли вы подарочные боксы?</h3>
    <div class="border-0">
      <p class="my-auto">
        Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
      </p>
    </div>
    <h3 class="accordion-title p-4 border-0 rounded bg-primary text-white mt-3">Сколько у вас разновидностей
      чая?</h3>
    <div class="border-0">
      <p class="my-auto">
        На данный момент 6 видов.
      </p>
    </div>
    <h3 class="accordion-title p-4 border-0 rounded bg-primary text-white mt-3">В какой срок осуществляется
      доставка?</h3>
    <div class="border-0">
      <p class="my-auto">
        Доставка осуществляется от 2 до 5 рабочих дней.
      </p>
    </div>
    <h3 class="accordion-title p-4 border-0 rounded bg-primary text-white mt-3">У вас обновляется ассортимент?</h3>
    <div class="border-0">
      <p class="my-auto">
        Конечно, есть основные виды чая, а есть сезонные, которые меняются раз в три месяца.
      </p>
    </div>
    <h3 class="accordion-title p-4 border-0 rounded bg-primary text-white mt-3">Какого объема у вас пачки чая?</h3>
    <div class="border-0">
      <p class="my-auto">
        Одной пачки обычно хватает на 10 заварок.
      </p>
    </div>
  </div>

  <div class="popup" *ngIf="showPopup">
    <div class="popup-text mb-3">
      Посмотрите наши чайные коллекции
    </div>
    <a href="/catalog" class="btn btn-primary px-4 mt-auto">Смотреть</a>
  </div>
</div>
