* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-root {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}
.slick-prev:before {
  content: url("./assets/images/arrowleft.png");
}
.slick-next:before {
  content: url("./assets/images/arrowright.png");
}
.slick-prev {
  left: 15px;
  z-index: 4;
}
.slick-next {
  right: 35px;
  z-index: 4;
}
.accordion-title {
  position: relative;
}
.accordion-title span {
  position: absolute;
  right: 30px;
  top: 30px;
}
.ui-state-active .ui-icon {
  background-image: url("./assets/images/arrowtop.png");
  background-size: contain;
  background-position: 0;
}
.ui-icon {
  background-image: url("./assets/images/arrowbottom.png");
  background-size: contain;
  background-position: 0;
}
.ui-state-hover .ui-icon {
  background-image: url("./assets/images/arrowbottom.png");
  background-size: contain;
  background-position: 0;
}
.ui-state-hover.ui-state-active .ui-icon {
  background-image: url("./assets/images/arrowtop.png");
  background-size: contain;
  background-position: 0;
}
.container img {
  width: 100%;
  height: 100%;
}
